### Setup

In [1]:
from pathlib import Path
import sys
import pandas as pd

# Setup for all notebooks inside notebooks directory
PARENT_DIR = str(Path().absolute().parent)
sys.path.append(PARENT_DIR)

In [2]:
math = pd.read_json("../LLM-Adapters/ft-training_set/math_10k.json")
commonsense = pd.read_json("../LLM-Adapters/ft-training_set/commonsense_170k.json")

In [3]:
commonsense

,instruction,input,output,answer
0,Please answer the following question with true...,,the correct answer is true,true
1,Please answer the following question with true...,,the correct answer is true,true
2,Please answer the following question with true...,,the correct answer is true,true
3,Please answer the following question with true...,,the correct answer is true,true
4,Please answer the following question with true...,,the correct answer is false,false
...,...,...,...,...
170415,Please choose the correct answer to the questi...,,the correct answer is answer1,answer1
170416,Please choose the correct answer to the questi...,,the correct answer is answer1,answer1
170417,Please choose the correct answer to the questi...,,the correct answer is answer2,answer2
170418,Please choose the correct answer to the questi...,,the correct answer is answer1,answer1
170419,Please choose the correct answer to the questi...,,the correct answer is answer1,answer1

In [4]:
commonsense.loc[0].instruction

'Please answer the following question with true or false, question: do iran and afghanistan speak the same language?\n\nAnswer format: true/false'

In [23]:
commonsense.loc[0].input

''

In [24]:
commonsense.loc[0].output

'the correct answer is true'

In [28]:
commonsense.output.value_counts()

output
the correct answer is option1      31649
the correct answer is option2      31589
the correct answer is answer1      13439
the correct answer is answer2      13272
the correct answer is answer3      12975
the correct answer is ending2      10031
the correct answer is ending4      10021
the correct answer is ending1       9986
the correct answer is ending3       9867
the correct answer is solution2     8060
the correct answer is solution1     8053
the correct answer is true          5874
the correct answer is false         3553
the correct answer is answer4       2049
the correct answer is answer5          2
Name: count, dtype: int64

In [30]:
commonsense.iloc[51482].instruction

"Please choose the correct answer to the question: Taylor took Addison's lives in the video game and laughed at the victory. How would you describe Taylor?\n\nAnswer1: upset with Taylor Answer2: very sad Answer3: very competitive\n\nAnswer format: answer1/answer2/answer3"

In [31]:
commonsense.iloc[51482].answer

'answer3'

In [12]:
math.loc[0].output

'Dave initially had 11 tickets. He spent 5 tickets on a beanie, leaving him with:\n\n11 - 5 = 6 tickets\n\nHe later won 10 more tickets, so his total number of tickets would be:\n\n6 + 10 = 16 tickets\n\nTherefore, Dave would have 16 tickets after spending 5 tickets on a beanie and winning 10 more tickets. The answer in Arabic numerals is:\n\n16'

In [16]:
math.loc[0].answer

'16.0'